# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
torus-metadata

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

# Private data
data.sqlite
certs/*
server.crt
server.key

# Docker env vars
.env