version: '3'

services:
  torus-metadata:
    volumes:
      - ./ssl:/app/ssl
    restart: always
    build:
      context: .
      dockerfile: Dockerfile
    env_file:
      - ./.env
    ports:
      - "5051:5051/tcp"
  ipfs:
    image: ipfs/go-ipfs
